.Login {
    height: 100vh;
    background-image: linear-gradient(#0000007e, #0000007e), url(/public/background_banner.jpg);
    padding: 20px 8%;

}

.login-logo {
    width: 150px;

}

.login-form {
    width: 100%;
    max-width: 450px;
    background: rgba(0, 0, 0, 0.75);
    padding: 60px;
    border-radius: 4px;
    margin: auto;
}

.login-form h1 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 28px;
}

.login-form input {
    width: 100%;
    height: 50px;
    background: #333;
    color: #fff;
    margin: 12px 0;
    border-radius: 4px;
    border: 0;
    outline: 0;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
}

.login-form input::placeholder {
    font-size: 16px;
    font-weight: 500;
}

.login-form button {
    width: 100%;
    height: 50px;
    background: #e50914;
    color: #fff;
    border-radius: 4px;
    border: 0;
    outline: 0;
    padding: 16px 20px;
    font-size: 16px;
    font-weight: 500;
}

.form-help {
    display: flex;
    color: #b3b3b3;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    cursor: pointer;
}

.remember {
    display: flex;
    align-items: center;
    gap: 5px;
}

.remember input {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.form-switch {
    margin-top: 40px;
    color: #737373;
}

.form-switch span {
    color: #fff;
    cursor: pointer;
    font-weight: 500;
    margin-left: 5px;
}

.loading {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading img {
    width: 60px;
}
@media (max-width: 800px) {
    .login-form {
        padding: 40px;
    }
    .login-logo {
        width: 120px;
    }
}

@media (max-width: 500px) {
    .Login {
        padding: 10px 5%;
    }
    .login-form {
        padding: 30px;
    }
    .login-form h1 {
        font-size: 28px;
    }
}
