.title-cards {
    margin-top: 50px;
    margin-bottom: 30px;

}

.title-cards h2 {
    margin-bottom: 8px;
}

.card-list {
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}

.card-list::-webkit-scrollbar {
    display: none;
}

.card-list img {
    width: 240px;
    cursor: pointer;
    border-radius: 4px;
}

.card-list .card {
    position: relative;
}

.card-list .card p {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    color: white;
}
@media (max-width: 800px) {
    .card-list img {
        width: 180px;
    }
}

@media (max-width: 500px) {
    .card-list img {
        width: 120px;
    }
    .title-cards h2 {
        font-size: 18px;
    }
}
