.hero {
    position: relative;

}

.banner-img {
    width: 100%;
    mask-image: linear-gradient(to right, transparent, black 70%);
    -webkit-mask-image: linear-gradient(to right, transparent, black 70%);
}

.hero-caption {
    position: absolute;
    width: 100%;
    padding-left: 6%;
    bottom: 10%;
}

.caption-img {
    width: 90%;
    max-width: 420px;
    margin-bottom: 30px;
}

.hero-caption p {
    max-width: 700px;
    font-size: 17px;
    margin-bottom: 20px;
}

.hero-btns {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;

}

.hero-btns .btn img {
    width: 25px;

}

.hero-btns .btn {
    border: 0;
    outline: 0;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    background: #fff;
    border-radius: 4px;
}

.hero-btns .btn .dark-btn {
    background: #6d6d6eb3;
    color: #fff;
}

.hero-btns .btn:hover {
    background: #ffffffbf;
}

.hero-btns .btn .dark-btn:hover {
    background: #6d6d6e66;

}

.more-card {
    padding-left: 6%;

}
@media (max-width: 800px) {
    .hero-caption {
        padding-left: 4%;
    }
    .caption-img {
        width: 100%;
    }
    .caption-img {
        max-width: 280px;
        margin-bottom: 20px;
    }
    .hero-caption p {
        font-size: 14px;
        max-width: 400px;
    }
    .hero-btns {
        gap: 5px;
    }
    .hero-btns .btn {
        padding: 5px 12px;
        font-size: 14px;
        gap: 5px;
    }
    .hero-btns .btn img {
        width: 20px;
    }
}

@media (max-width: 500px) {
    .hero-caption {
        display: none;
    }
    .more-card {
        padding-left: 4%;
    }
}
