.navbar {
    width: 100%;
    padding: 20px 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    font-size: 14px;
    color: #e5e5e5;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7) 10%, transparent);
    z-index: 10;
}

.navbar-left {
    display: flex;
    align-items: center;
    gap: 50px
}

.navbar-left img {
    width: 90px;
}

.navbar-left ul {
    display: flex;
    list-style: none;
    gap: 20px;

}

.navbar-left li {
    cursor: pointer;
}

.navbar-right {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navbar-right .icons {
    width: 20px;
    cursor: pointer;
}

.navbar-right .profile {
    width: 30px;
    border-radius: 4px;
}

.navbar-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    position: relative;
}

.navbar .dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    width: max-content;
    background: #191919;
    padding: 18px 22px;
    border-radius: 2px;
    text-decoration: underline;
    z-index: 1;
    display: none;
}

.navbar .dropdown p {
    font-size: 13px;
    cursor: pointer;

}

.navbar-profile:hover .dropdown {
    display: block;
}

.nav-dark {
    background: #191919;
}
@media (max-width: 800px) {
    .navbar {
        padding: 20px 4%;
    }
    .navbar-left {
        gap: 20px;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-right {
        gap: 15px;
    }
    .navbar-right .icons {
        width: 18px;
    }
}

@media (max-width: 500px) {
    .navbar-left img {
        width: 70px;
    }
    .navbar-right .icons {
        display: none;
    }
    .navbar-right .profile {
        width: 25px;
    }
}
