.footer {
    padding: 40px 4%;
    margin-top: 0 auto;
    max-width: 1000px;
}

.footer-icons {
    display: flex;
    gap: 20px;
    margin: 40px 0;
}

.footer-icons img {
    width: 30px;
    cursor: pointer;
}

.footer ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 15px;
    margin-bottom: 30px;
    list-style: none;
}

.copyright-text {
    color: gray;
    font-size: 14px;
}
@media (max-width: 800px) {
    .footer ul {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 500px) {
    .footer {
        padding: 30px 4%;
    }
    .footer-icons {
        margin: 20px 0;
    }
}
